/* RESET BASE CSS */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* INTESTAZIONE */
header {
    line-height: 110px;
    height: 120px;
    border-top: 2px solid gray;
    font-size: 57px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    background-color: white;
    padding-left: 20px;
}

body{
    background-color: #e7e6e6;
    margin-top: 0px;
    margin-left: 0px;
}
 /* LOGO */
#logo {
    width: 70px;
    vertical-align: middle;
  }
/* CONTENITORE PRINCIPALE */
.container{
    width: 1000px;
    height: 800px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 7px;
}
/* PULSANTI E FORMATTAZIONE */
#buttons{
    display: inline-block;
    padding-top: 40px;
    border-bottom: 2px solid #e7e6e6;
    padding-bottom: 20px;
    padding-left: 80px;
    width: 100%;
}
.br-blue{
        background-color: #368bf5;
        color: white;
        border: 1px solid white;
        border-radius: 7px;
        padding: 8px;
}

#white-select{
    padding: 8px;
    background-color: white;
    border: 1px solid lightslategrey;
    color: lightslategrey;
    border-radius: 7px;
    margin-left: 7px;
}

/* SEZIONI E LISTE */
h2{
    display: inline;
    margin-left: 10px;
}

ul{
    list-style: none;
    padding-left: inherit;
}

.x-nonfatto{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 0 6px 0 6px;
    margin-right: 15px;
}

.v-fatto{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 0 6px 0 4px;
    margin-right: 15px;
}

li{
    margin-top: 20px;
    margin-bottom: 10px;
}

#second-list{
    margin-top: 40px;
    margin-bottom: 5px;
}

#all-list{
    padding: 44px 80px;
}

/* COLORE LISTE */
.br-azzurro{
    margin-left: 20px;
    font-size: 12px;
    background-color: rgb(87 162 255);
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
}

#br-viola{
    margin-left: 20px;
    font-size: 12px;
    background-color: rgb(195, 104, 255);
    color: white;
    border-radius: 10px;
    padding: 7px 15px;

}

#br-acqua{
    margin-left: 20px;
    font-size: 12px;
    background-color: rgb(76, 167, 124);
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
}

#br-arancione{
    margin-left: 20px;
    font-size: 12px;
    background-color: rgb(250, 161, 28);
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
}

#br-fucsia{
    margin-left: 20px;
    font-size: 12px;
    background-color: rgb(241, 54, 201);
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
}

#br-verde{
    margin-left: 20px;
    font-size: 12px;
    background-color: rgb(198, 241, 79);
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
}
